[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    dt = difftool
    lg = log --abbrev-commit --decorate --oneline --graph
    pu = push origin HEAD
    puf = push --force origin HEAD
    puu = push --set-upstream origin HEAD
    sm = submodule
    st = status

[core]
    editor = emacs

[user]
    email = hallstrom.claes@gmail.com
    name = Claes Hallström