[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    dt = difftool
    lg = log --graph --abbrev-commit --date=relative --pretty=format:'%C(auto)%h%d%C(reset) %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    pu = push origin HEAD
    puf = push --force origin HEAD
    puu = push --set-upstream origin HEAD
    sm = submodule
    st = status

[core]
    editor = emacs

[user]
    email = hallstrom.claes@gmail.com
    name = Claes Hallström